@{
    Layout = "CharacterLayout";
}

@model DNDCharacter.Models.Stat

<h2>Edit</h2>

@* <h4>Edit this Character: @Html.DisplayFor(model => model.Character.ToList()[0].Character.CharacterName)</h4> *@

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.StatId)

    @Html.Label("Str", "Character's Strength:", new {@class = "label"})
    @Html.EditorFor(model => model.Strength)
    <br>
    @Html.Label("Dex", "Character's Dexterity:", new {@class = "label"})
    @Html.EditorFor(model => model.Dexterity)
    <br>
    @Html.Label("Con", "Character's Constitution:", new {@class = "label"})
    @Html.EditorFor(model => model.Constitution)
    <br>
    @Html.Label("Int", "Character's Intelligence:", new {@class = "label"})
    @Html.EditorFor(model => model.Intelligence)
    <br>
    @Html.Label("Wis", "Character's Wisdom:", new {@class = "label"})
    @Html.EditorFor(model => model.Wisdom)
    <br>
    @Html.Label("Cha", "Character's Charisma:", new {@class = "label"})
    @Html.EditorFor(model => model.Charisma)
    <br>

    <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Back to Details", "Details")</p>