@{
    Layout = "CharacterLayout";
}

@model DNDCharacter.Models.Character

<h2>Add a campaign</h2>

<h4>Add a campaign to this character: @Html.DisplayFor(model => model.CharacterName)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.CharacterId)

    @Html.Label("Select campaign")
    @Html.DropDownList("CampaignId")

    <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Back to list", "Index")</p>