@{
    Layout = "_Layout";
}

@model DNDCharacter.Models.Character

<h4>Add a new character</h4>

@using (Html.BeginForm())
{
    @Html.Label("Character Name:")
    @Html.TextBoxFor(model => model.CharacterName)
    <br>
    @Html.Label("Character Description:")
    @Html.TextBoxFor(model => model.Description)
    <br>
    @Html.Label("Character Class:")
    @Html.DropDownList("RPClass",
        new SelectList(new string[] {"Undecided", "Barbarian", "Rabbit", "Bard", "Cleric",
"Druid", "Fighter", "Monk","Paladin", "Ranger", "Rogue", "Sorcerer", "Warlock", "Wizard"}))
    <br>
    @Html.Label("Player Creator:")
    @Html.TextBoxFor(model => model.Player)
    <br>
    @Html.Label("Select campaign:")
    @Html.DropDownList("CampaignId")

    <input type="submit" value="Add new character" class="btn btn-default" />
}
<p>@Html.ActionLink("Show all characters", "Index", new { @class = "character" })</p>