@{
    Layout = "CharacterLayout";
}

@model DNDCharacter.Models.Character

<h2>Character Details</h2>
<hr />
<h3>Character Name: @Html.DisplayFor(model => model.CharacterName)</h3>
<h4>Character Description: @Html.DisplayFor(model => model.Description)</h4>
<h4>Character Class: @Html.DisplayFor(model => model.RPClass)</h4>
<h4>Character Creator: @Html.DisplayFor(model => model.Player)</h4>

@if (@Model.Campaigns.Count == 0)
{
  <p>This Character does not belong to any campaigns</p>
}
else
{
  <h4>Campaigns the Character belongs to:</h4>
  <ul>
    @foreach(var join in Model.Campaigns)
    {
      <li>@Html.ActionLink(@join.Campaign.Name, "Details", "Stats", new { id = @join.StatId })</li>
      @using (Html.BeginForm("DeleteCampaign", "Characters"))
      {
        @Html.Hidden("joinId", @join.CampaignCharacterId)
        <input type="submit" value="Delete"/>
      }
    }
  </ul>
}

<p>@Html.ActionLink("Back to characters", "Index", "Characters", null, new { @class = "character"})</p>
<p>@Html.ActionLink("Edit Character", "Edit", "Characters", null, new { id = Model.CharacterId, @class = "character" })</p>
<p>@Html.ActionLink("Delete Character", "Delete", "Characters", null, new { id = Model.CharacterId, @class = "character" })</p>
<p>@Html.ActionLink("Add a Campaign", "AddCampaign", "Characters", null, new { id = Model.CharacterId, @class = "character" })</p>
<p>@Html.ActionLink("Home", "Index", "Home", null, new { @class = "home" })</p>