@{
    Layout = "CharacterLayout";
}

@model DNDCharacter.Models.Character

<h2>Edit</h2>

<h4>Edit this Character: @Html.DisplayFor(model => model.CharacterName)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.CharacterId)

    @Html.Label("Name", "Character Name:", new {@class = "label"})
    @Html.EditorFor(model => model.CharacterName)
    <br>
    @Html.Label("Description", "Character Description:", new {@class = "label"})
    @Html.EditorFor(model => model.Description)
    <br>
    @Html.Label("Class", "Character Class:", new {@class = "label"})
    @Html.EditorFor(model => model.RPClass)
    <br>
    @Html.Label("Creator", "Character Creator:", new {@class = "label"})
    @Html.EditorFor(model => model.Player)
    <br>
    @Html.Label("Campaign", "Select campaign", new {@class = "label"})
    @Html.DropDownList("CampaignId")
    <br>
    <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Back to list", "Index")</p>