@{
    Layout = "CampaignLayout";
}

@model DNDCharacter.Models.Campaign;

<h1>Add a new Campaign</h1>

@using (Html.BeginForm())
{
    @Html.Label("Campaign Name:")
    @Html.TextBoxFor(model => model.Name)
    <br>
    @Html.Label("Campaign Setting:")
    @Html.TextBoxFor(model => model.Setting)
    <br>
    @Html.Label("Campaign Rule Set:")
    @Html.TextBoxFor(model => model.Rulebook)
    <br>
    <input type="submit" value="Add new campaign" class="btn btn-default" />
}
<p>@Html.ActionLink("Show all campaigns", "Index", new { @class = "campaign" })</p>