@{
    Layout = "CampaignLayout";
}

@model DNDCharacter.Models.Campaign

<h1>Campaign Details</h1>
<hr />
<h2>Campaign Name: @Html.DisplayFor(model => model.Name)</h2>
<h3>Campaign Setting: @Html.DisplayFor(model => model.Setting)</h3>

@if (@Model.Characters.Count == 0)
{
    <p>There are no characters added to this campaign.</p>
}
else
{
    <h4>Characters present in the Campaign:</h4>
    <ul>
        @foreach (var join in Model.Characters)
        {
                <li>@join.Character.CharacterName: Is the character dead? (@join.CharacterDeath)</li>
                
            @using (@Html.BeginForm())      // this form would then take the data from CampaignCharacter, not Character
            {
                @Html.Hidden("CampaignCharacterId", @join.CampaignCharacterId)
                @Html.Hidden("CharacterId", @join.CharacterId)
                @Html.Hidden("CampaignId", @join.CampaignId)
                @Html.Hidden("CharacterDeath", !@join.CharacterDeath)
                @Html.Hidden("StatId", @join.StatId)
                <br>
                <input type="submit" value="Toggle Death" class="btn btn-default"/>
            }
        }
    </ul>
}
<p>@Html.ActionLink("Back to campaigns", "Index", "Campaigns", null, new { @class = "campaign"})</p>
<p>@Html.ActionLink("Edit campaign", "Edit", new { id = Model.CampaignId })</p>
<p>@Html.ActionLink("Delete Campaign", "Delete", new { id = Model.CampaignId })</p>
<p>@Html.ActionLink("Home", "Index", "Home", null, new { @class = "home" })</p>