@{
    Layout = "CampaignLayout";
}

@model DNDCharacter.Models.Campaign

<h2>Edit</h2>

<h4>Edit this campaign: @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.CampaignId)

    @Html.Label("Name", "Campaign Name:", new {@class = "label"})
    @Html.EditorFor(model => model.Name)
    <br>
    @Html.Label("Setting", "Campaign Settings:", new {@class = "label"})
    @Html.EditorFor(model => model.Setting)
    <br>
    @Html.Label("Rule", "Campaign Rule Set:", new {@class = "label"})
    @Html.EditorFor(model => model.Rulebook)
    <br>
    <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Back to list", "Index", "Campaigns", null, new { @class = "campaign" })</p>